.hero-section{
    /* background-color: red; */
    /* margin-top: 5rem; */
}

.hero-title{
margin-top: -2rem;
    font-size: 4rem;

}

.hero-title-2{
margin-top: -2rem;   
 font-size: 4rem;
}

.hero-sub-title{
    margin-top: -1rem;
}

.projections{
        font-size: smaller;
    font-weight: 500;
}